
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<			<section  class="homepage-slider" id="home-slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<img src="~/Contents/themes/images/carousel/banner-1.jpg" alt="" />
						</li>
						<li>
							<img src="~/Contents/themes/images/carousel/banner-2.jpg" alt="" />
							<div class="intro">
								<h1>Giảm giá cuối năm</h1>
								<p><span>Lên đến 50%</span></p>
								<p><span>Cho tất cả sản phẩm online và ở cửa hàng</span></p>
							</div>
						</li>
					</ul>
				</div>			
			</section>
			<section class="main-content">
				<div class="row">
					<div class="span12">													
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Sản phẩm <strong>mới nhất</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">												
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="product_detail.html"><img src="~/Contents/themes/images/ladies/1.jpg" alt="" /></a></p>
														<a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
														<p class="price">$17.25</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="product_detail.html"><img src="~/Contents/themes/images/ladies/2.jpg" alt="" /></a></p>
														<a href="product_detail.html" class="title">Quis nostrud exerci tation</a><br/>
														<p class="price">$32.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="~/Contents/themes/images/ladies/3.jpg" alt="" /></a></p>
														<a href="product_detail.html" class="title">Know exactly turned</a><br/>
														<p class="price">$14.20</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="~/Contents/themes/images/ladies/4.jpg" alt="" /></a></p>
														<a href="product_detail.html" class="title">You think fast</a><br/>
														<p class="price">$31.45</p>
													</div>
												</li>
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="~/Contents/themes/images/ladies/5.jpg" alt="" /></a></p>
														<a href="product_detail.html" class="title">Know exactly</a><br/>
														<p class="price">$22.30</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="~/Contents/themes/images/ladies/6.jpg" alt="" /></a></p>
														<a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
														<p class="price">$40.25</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="~/Contents/themes/images/ladies/7.jpg" alt="" /></a></p>
														<a href="product_detail.html" class="title">You think water</a><br/>
														<p class="price">$10.45</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="~/Contents/themes/images/ladies/8.jpg" alt="" /></a></p>
														<a href="product_detail.html" class="title">Quis nostrud exerci</a><br/>
														<p class="price">$35.50</p>
													</div>
												</li>																																	
											</ul>
										</div>
									</div>							
								</div>
							</div>						
						</div>
						<br/>
						<div class="row">
							<div class="span12">													
								<div class="row">
									<div class="span12">
										<h4 class="title">
											<span class="pull-left"><span class="text"><span class="line">Sản phẩm <strong>hot</strong></span></span></span>
											<span class="pull-right">
												<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
											</span>
										</h4>
										<div id="myCarousel" class="myCarousel carousel slide">
											<div class="carousel-inner">
												<div class="active item">
													<ul class="thumbnails">												
														<li class="span3">
															<div class="product-box">
																<span class="sale_tag"></span>
																<p><a href="product_detail.html"><img src="~/Contents/themes/images/ladies/1.jpg" alt="" /></a></p>
																<a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
																<p class="price">$17.25</p>
															</div>
														</li>
														<li class="span3">
															<div class="product-box">
																<span class="sale_tag"></span>
																<p><a href="product_detail.html"><img src="~/Contents/themes/images/ladies/2.jpg" alt="" /></a></p>
																<a href="product_detail.html" class="title">Quis nostrud exerci tation</a><br/>
																<p class="price">$32.50</p>
															</div>
														</li>
														<li class="span3">
															<div class="product-box">
																<p><a href="product_detail.html"><img src="~/Contents/themes/images/ladies/3.jpg" alt="" /></a></p>
																<a href="product_detail.html" class="title">Know exactly turned</a><br/>
																<p class="price">$14.20</p>
															</div>
														</li>
														<li class="span3">
															<div class="product-box">
																<p><a href="product_detail.html"><img src="~/Contents/themes/images/ladies/4.jpg" alt="" /></a></p>
																<a href="product_detail.html" class="title">You think fast</a><br/>
																<p class="price">$31.45</p>
															</div>
														</li>
													</ul>
												</div>
												<div class="item">
													<ul class="thumbnails">
														<li class="span3">
															<div class="product-box">
																<p><a href="product_detail.html"><img src="~/Contents/themes/images/ladies/5.jpg" alt="" /></a></p>
																<a href="product_detail.html" class="title">Know exactly</a><br/>
																<p class="price">$22.30</p>
															</div>
														</li>
														<li class="span3">
															<div class="product-box">
																<p><a href="product_detail.html"><img src="~/Contents/themes/images/ladies/6.jpg" alt="" /></a></p>
																<a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
																<p class="price">$40.25</p>
															</div>
														</li>
														<li class="span3">
															<div class="product-box">
																<p><a href="product_detail.html"><img src="~/Contents/themes/images/ladies/7.jpg" alt="" /></a></p>
																<a href="product_detail.html" class="title">You think water</a><br/>
																<p class="price">$10.45</p>
															</div>
														</li>
														<li class="span3">
															<div class="product-box">
																<p><a href="product_detail.html"><img src="~/Contents/themes/images/ladies/8.jpg" alt="" /></a></p>
																<a href="product_detail.html" class="title">Quis nostrud exerci</a><br/>
																<p class="price">$35.50</p>
															</div>
														</li>																																	
													</ul>
												</div>
											</div>							
										</div>
									</div>						
								</div>
						<div class="row feature_box">						
							<div class="span4">
								<div class="service">
									<div class="responsive">	
										<img src="~/Contents/themes/images/feature_img_2.png" alt="" />
										<h4><strong>THIẾT KẾ SANG TRỌNG</strong></h4>
																		
									</div>
								</div>
							</div>
							<div class="span4">	
								<div class="service">
									<div class="customize">			
										<img src="~/Contents/themes/images/feature_img_1.png" alt="" />
										<h4><strong>MIỄN PHÍ VẬN CHUYỂN</strong></h4>
										
									</div>
								</div>
							</div>
							<div class="span4">
								<div class="service">
									<div class="support">	
										<img src="~/Contents/themes/images/feature_img_3.png" alt="" />
										<h4><strong>HỖ TRỢ 24/7</strong></h4>
										
									</div>
								</div>
							</div>	
						</div>		
					</div>				
				</div>
			</section>

